body {
  background-color: #1f2937;
  font-family: Arial, Helvetica, sans-serif;
}

/**/
.header p {
    font-weight: 900;
}


ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}
a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 200;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
    font-size: 24px;
    flex: 1;
}
/**/

.main {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px;
}

.main .flex-container {
    flex: 0 0 500px;
}

.main .flex-container h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -10px;
}

.main .flex-container p {
    font-size: 18px;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    padding: 8px 16px;
    border-radius: 10px;
    border-style: none;
}

.main .image-container,
.main .image-container p {
    background-color: #767088;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .image-container {
    margin-left: 200px;
    width: 450px;
    height: 250px;
}


/**/

.random {
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: white;
    color: #1f2937;
    font-size: 18px;
}
.random h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.random .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.random .square {
    width: 200px;
    height: 200px;
    border: 3px solid rgb(79, 79, 240);
    border-radius: 10px;
}

.random .info {
    max-width: 200px;
    text-align: center;
}
/**/

.quote {
    background-color: #E5E7EB;
    color: #1f2937;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.quote .info {
    max-width: 800px;
    background-color:#E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote .text {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    margin: 0;
}

.quote .author {
    font-size: 24px;
    font-weight: bold;
    align-self: end; 
    margin-top: -20px;
}

/**/

.sign-up {
    background-color: white;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 16px;
    padding: 20px 80px;
    max-width: 600px;
    width: 100%;
    align-items:center;
    gap: 100px;
}

.container button   {
    border-style: solid;
    border-color: white;
}

.container p {
    margin-top: -15px;
    color:#f0f1ef
}

.footer {
    color: #E5E7EB;
    padding: 20px;
    text-align: center;
}